    <!DOCTYPE html>
    <html lang="en">

    <head>
      <!-- Title -->
      <title>Sa.Ra Holding Trust</title>

      <!-- Required Meta Tags Always Come First -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <!-- Favicon -->
      <link rel="shortcut icon" href="../Favicon.ico">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
      <!-- CSS Global Compulsory -->
      <link rel="stylesheet" href="../assets/vendor/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="../assets/vendor/bootstrap/offcanvas.css">

      <!-- CSS Global Icons -->
      <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
      <link rel="stylesheet" href="../assets/vendor/icon-etlinefont/style.css">
      <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
      <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
      <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsparallaxer.css">
      <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
      <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
      <link rel="stylesheet" href="../assets/vendor/animate.css">
      <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">
      <link rel="stylesheet" href="../assets/vendor/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="../assets/vendor/fancybox/jquery.fancybox.css">

      <!-- CSS Unify -->
      <link rel="stylesheet" href="../assets/css/unify-core.css">
      <link rel="stylesheet" href="../assets/css/unify-components.css">
      <link rel="stylesheet" href="../assets/css/unify-globals.css">

      <!-- CSS Customization -->
      <link rel="stylesheet" href="../assets/css/custom.css">

      <!-- CSS Implementing Plugins -->
      <link rel="stylesheet" href="../assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
      <link  rel="stylesheet" href="../assets/vendor/animate.css">

      <!-- CSS Template -->
      <link rel="stylesheet" href="../assets/css/styles.op-consulting.css">

      <!-- Revolution Slider -->
      <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
      <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/settings.css">
      <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/layers.css">
      <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/navigation.css">
      <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css">

    </head>

    <body>
      <main>
        <!-- Header -->
        <!-- Header -->
        <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance u-header--change-logo u-header--toggle-section"
        data-header-fix-moment="300">

        <!-- Top Bar -->
        <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-py-10">
          <div class="container">
            <div class="row flex-column flex-md-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white">
              <div class="col-auto g-pos-rel g-px-15">
                <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">
                  <li class="list-inline-item g-mx-4 g-mt-10">
                    <i class="fa fa-globe g-font-size-14 g-mr-3"></i>
                    <a href="#!" id="languages-dropdown-invoker-2" class="g-color-white g-text-underline--none--hover" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2"
                    data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut"> <%=__('language')%>
                  </a>
                  <ul id="languages-dropdown-2" class="list-unstyled g-pos-abs g-left-0 g-bg-black g-width-160 g-pb-5 g-mt-14" aria-labelledby="languages-dropdown-invoker-2">
                    <li>
                      <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="/about/EN">English</a>
                    </li>
                    <li>
                      <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="/about/IT">Italiano</a>
                    </li>

                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <div class="u-header__section g-bg-black-opacity-0_8 g-transition-0_3 g-py-7 g-py-3--md"
      data-header-fix-moment-exclude="g-bg-black-opacity-0_8 g-py-3--md"
      data-header-fix-moment-exclude="g-bg-black-opacity-0_8 g-py-3--md">
      <nav class="navbar navbar-expand-lg g-py-0">
        <div class="container g-pos-rel">
          <!-- Logo -->
          <a href="/<%=__('language')%>" class="navbar-brand u-header__logo"
             data-type="static">
            <img class="u-header__logo-img u-header__logo-img--main g-width-90" src="../assets/img/logo/logo3.png" style="width:auto;height:80px;" alt="Image description">
            <img class="u-header__logo-img g-width-90" src="../assets/img/logo/logo3.png" style="width:auto;height:80px"; alt="Image description">
          </a>
          <!-- End Logo -->

          <!-- Navigation -->
          <div class="collapse navbar-collapse align-items-center flex-sm-row " id="navBar" data-mobile-scroll-hide="true">
            <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-15 g-pt-20 g-pt-0--lg ml-auto">
              <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                <a href="/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover"> <%=__('menu1')%> </a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <b href="#!" class="nav-link p-0 g-color-blue"> <%=__('menu2')%> </b>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="/Services/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover"> <%=__('menu3')%> </a>
              </li>
              <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                <a href="/contact/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover"> <%=__('menu4')%> </a>
              </li>
            </ul>
          </div>
          <!-- End Navigation -->

          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
          aria-label="Toggle navigation"
          aria-expanded="false"
          aria-controls="navBar"
          data-toggle="collapse"
          data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="g-bg-white hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->
      </div>
    </nav>
    </div>
    </header>
    <!-- End Header -->



    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after" style="height: 140%; background-image: url(../assets/img/citybg.jpg);"></div>
      <!-- End Parallax Image -->

      <!-- Promo Block Content -->
      <div class="container g-color-black text-center g-py-145">
        <h3 class="h1 g-font-weight-600 text-uppercase mb-2" style="color:white"> <%=__('about_title')%> </h3>
      </div>
      <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->

    <!--haeder-->
    <section class="container u-ns-bg-v1-bottom g-bg-white g-py-50">
      <div class="text-center g-max-width-800 mx-auto  g-mb-30 text-center g-py-50">
        <h2 class="h3 u-heading-v2__title mb-0"> <%=__('about_intro1')%> <span class="g-brd-bottom g-brd-blue g-color-blue g-font-weight-600 pb-1"> <%=__('membro1')%> </span> <%=__('about_intro2')%> <span class="g-brd-bottom g-brd-blue g-color-blue g-font-weight-600 pb-1"> <%=__('membro2')%> </span> <%=__('about_intro3')%>
        </h2>
      </div>
    </section>
    <!--end haeder-->

    <!-- Icon Blocks -->
    <section class="g-bg-gray-light-v5 g-pt-25 g-pb-70">
      <div class="container">
        <!-- info 1 -->
        <div class="row">
          <div class="col-md-6 align-self-center g-py-20">
            <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20" data-animation="fadeInLeft" data-animation-delay="20" data-animation-duration="1000"> <%=__('about_motiv')%> </h2>
            <p class="lead mb-0 g-line-height-2" data-animation="fadeInLeft" data-animation-delay="20" data-animation-duration="1000"> <%=__('about_motivinfo')%> </p>
          </div>

          <div class="col-md-6 align-self-center g-py-20">
            <img class="w-100" src="../assets/img/AIRPLANE.png" alt="Iamge Description" data-animation="fadeInRight" data-animation-delay="20" data-animation-duration="1000">
          </div>
        </div>
        <!--end info 1 -->

        <!-- info 2 -->
        <div class="row">
          <div class="col-md-6 align-self-center g-py-70">
            <img class="w-100" src="../assets/img/RELATIONSHIPs.png" alt="Iamge Description" data-animation="fadeInLeft" data-animation-delay="20" data-animation-duration="1000">
          </div>

          <div class="col-md-6 align-self-center g-py-40">
            <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20" data-animation="fadeInRight" data-animation-delay="20" data-animation-duration="1000"> <%=__('about_relations')%> </h2>
            <p class="lead mb-0 g-line-height-2" data-animation="fadeInRight" data-animation-delay="20" data-animation-duration="1000"><%=__('about_relationsinfo')%> </p>
          </div>
        </div>
        <!-- end info 2 -->
      </div>
    </section>


    <div class="u-heading-v2-2--bottom g-brd-blue g-mb-30 text-center g-py-50">
      <h2 class="text-uppercase u-heading-v2__title g-font-weight-700 mb-0"> <%=__('about_appeal')%> </h2>
    </div>

    <section id="ourProjects" class="g-py-5">
      <!-- service Block -->
      <div class="container">
        <!-- Icon Blocks -->
        <div class="row">
          <div class="col-md-6">
            <!-- Icon Blocks -->
            <article class="media g-mb-20">
              <div class="d-flex align-self-center mr-4">
                <span class="u-icon-v2 u-icon-size--2xl g-brd-4 g-color-blue g-brd-blue--hover g-rounded-50x">
                  <i class="icon-education-143 u-line-icon-pro"></i>
                </span>
              </div>
              <div class="media-body align-self-center">
                <h3 class="h4 g-color-black"><%=__('about_feedback')%> </h3>
                <p class="g-color-gray-dark-v4 mb-0"> <%=__('about_feedbackinfo')%> </p>
              </div>
            </article>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-6">
            <!-- Icon Blocks -->
            <article class="media g-mb-20">
              <div class="d-flex align-center mr-4 g-py-40">
                <span class="u-icon-v2 u-icon-size--2xl g-brd-4 g-color-blue g-brd-blue--hover g-rounded-50x">
                  <i class="icon-finance-257 u-line-icon-pro"></i>
                </span>
              </div>
              <div class="media-body align-self-center">
                <h3 class="h4 g-color-black"> <%=__('about_rough')%> </h3>
                <p class="g-color-gray-dark-v4 mb-0"> <br> <%=__('about_roughinfo')%> </p>
              </div>
            </article>
            <!-- End Icon Blocks -->
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </section>

    <section id="about-section" class="g-pt-100 g-pb-100">
      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg">
          <div class="col-md-6 col-lg-8">
            <img class="img-fluid rounded" src="../../../assets/img/economia.jpg" alt="Image Description">
          </div>


          <div class="col-md-6 col-lg-4 ">
            <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg ">
              <div class="g-mb-20 g-bg-white-opacity-0_8  g-brd-around--md g-brd-10  rounded">
                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4 "> <%=__('about_gold')%>
                  <br>
                  <%=__('about_diamond')%>
                </h2>
                <p class="g-font-size-16"> <%=__('about_sale')%> </p>
              </div>

              <a class="btn u-btn-blue g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="/Services/<%=__('language')%>">
                <%=__('about_services')%>
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>

      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex justify-content-between align-items-lg-center flex-wrap g-mt-minus-50--lg">
          <div class="col-md-6 flex-md-unordered">
            <div class="g-brd-around--md g-brd-10 g-brd-white rounded">
              <img class="img-fluid w-100 rounded g-bg-white-opacity-0_5--after" src="../../../assets/img/immagini/HEADQUARTER.png" alt="Image Description">
            </div>
          </div>

          <div class="col-md-6 col-lg-4 ml-auto flex-md-first">
            <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
              <div class="g-mb-20 g-bg-white-opacity-0_8  g-brd-around--md g-brd-10  rounded">
                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4"> <%=__('about_headquorted')%>
                </h2>
                <p class="g-font-size-16"> <%=__('about_headquortedinfo')%> </p>
              </div>

              <a class="btn u-btn-blue g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="/contact/<%=__('language')%>">
                <%=__('about_contact')%>
                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>
    </section>

    <!-- team Blocks -->
    <section class="g-bg-gray-light-v5 g-pt-25 g-pb-70">
      <div class="container">
        <div class="text-center text-uppercase u-heading-v6-2 g-mb-20">
          <h2 class="h3 u-heading-v6__title"> <%=__('about_team')%> </h2>
        </div>
        <div id="accordion-08" class="u-accordion u-accordion-color-blue" role="tablist" aria-multiselectable="true">
          <!-- Card -->
          <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
            <div id="accordion-08-heading-01" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                <a class="d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-01" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="true" aria-controls="accordion-08-body-01">
                  <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-blue text-center g-pa-20">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus"></i>
                  </span>
                  <span class="g-pa-20">
                    <%=__('membro1')%>
                  </span>
                </a>
              </h5>
            </div>

            <div id="accordion-08-body-01" class="collapse show" role="tabpanel" aria-labelledby="accordion-08-heading-01" data-parent="#accordion-08">
              <div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
                <%=__('membro1_role')%>
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
            <div id="accordion-08-heading-02" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-02" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-02">
                  <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-blue text-center g-pa-20">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus"></i>
                  </span>
                  <span class="g-pa-20">
                    <%=__('membro2')%>
                  </span>
                </a>
              </h5>
            </div>
            <div id="accordion-08-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-02" data-parent="#accordion-08">
              <div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
                <%=__('membro2_role')%>
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
            <div id="accordion-08-heading-03" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
                <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-03" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-03">
                  <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-blue text-center g-pa-20">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus"></i>
                  </span>
                  <span class="g-pa-20">
                    <%=__('membro3')%>
                  </span>
                </a>
              </h5>
            </div>
            <div id="accordion-08-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-03" data-parent="#accordion-08">
              <div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
                <%=__('membro3_role')%> <br>
                <%=__('membro3_info1')%> <br>
                <%=__('membro3_info2')%> <a href="https://www.isin.org/"> <%=__('membro3_website')%> </a> <%=__('membro3_info3')%>

              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </section>


    <!-- Footer -->
      <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white g-py-30">
        <div class="container">
          <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-4 col-md-24 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white"> <%=__('foot_about')%> </h2>
              </div>

              <p class="g-color-white-opacity-0_5"> <%=__('foot_aboutinfo')%> </p>
            </div>
            <!-- End Footer Content -->


            <!-- Footer Content -->
            <div class="col-lg-2 col-md-20 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white"> <%=__('foot_link')%> </h2>
              </div>

              <nav class="text-uppercase1">
                <ul class="list-unstyled g-mt-minus-10 mb-0">
                  <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-20">
                    <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 " href="/about/<%=__('language')%>"> <%=__('foot_link1')%> </a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/about/<%=__('language')%>"></i>
                </h4>
                  </li>
                  <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/Services/<%=__('language')%>"> <%=__('foot_link2')%> </a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/Services/<%=__('language')%>"></i>
                </h4>
                  </li>
                  <li class="g-pos-rel g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/contact/<%=__('language')%>"> <%=__('foot_link3')%> </a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/contact/<%=__('language')%>"></i>
                </h4>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- End Footer Content -->



            <!-- Footer Content -->
            <div class="col-lg-6 col-md-6">
              <div class="u-heading-v2-3--bottom g-brd-white g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white"> <%=__('foot_contact')%> </h2>
              </div>
              <div class="container">
                <div class="row">

                  <div class="col-lg-6 col-md-6">
                    <!-- Email -->
                    <div class="d-flex g-mb-20">
                      <div class="g-mr-10">
                        <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                          <i class="icon-finance-170 u-line-icon-pro"></i>
                        </span>
                      </div>
                      <p class="mb-0 g-color-white-opacity-0_8"> info@saraholdingtrust.com </p>
                    </div>
                    <!-- End email -->

                    <!-- Phone -->
                    <div class="d-flex g-mb-20">
                      <div class="g-mr-10">
                        <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                          <i class="fa fa-phone"></i>
                        </span>
                      </div>
                      <p class="mb-0 g-color-white-opacity-0_8"> <%=__('foot_number1')%> <br> <%=__('foot_number2')%> </p>
                    </div>
                    <!-- End Phone -->
                  </div>

                  <div class="col-lg-6 col-md-6">

                    <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../assets/img/maps/map2.png);">
                      <!-- Location -->
                      <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
                          <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                            <i class="fa fa-map-marker"></i>
                          </span>
                        </div>
                        <p class="mb-0 g-color-white-opacity-0_8"> <%=__('foot_street1')%> <br> <%=__('foot_street2')%> <br> post code: 08008</p>
                      </div>
                      <!-- End Location -->

                      <!-- Tax number -->
                      <div class="d-flex g-mb-20 ">
                        <div class="g-mr-10">
                          <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                            <i class="icon-finance-193 u-line-icon-pro"></i>
                          </span>
                        </div>
                        <p class="mb-0 g-color-white-opacity-0_8"> Tax Number: <br> 18000050025 </p>
                      </div>
                      <!-- End Tax number -->

                    <!-- Email and Website -->
                    <!--  <div class="d-flex g-mb-20">
                      <div class="g-mr-10">
                        <span class="u-icon-v3 u-icon-size- -xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                          <i class="fa fa-globe"></i>
                        </span>
                      </div>
                      <p class="mb-0">
                        <a class="g-color-white-opacity-0_8 g-color-white- -hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
                        <br>
                        <a class="g-color-white-opacity-0_8 g-color-white- -hover" href="#!">www.htmlstream.com</a>
                      </p>
                    </div>  -->
                    <!-- End Email and Website -->
                    </address>
                  </div>
                </div>
              </div>
              </div>
              <!-- End Footer Content -->
            </div>
          </div>
        </div>
        <!-- End Footer -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; All Rights Reserved.</small>
              <ul class="u-list-inline">

              </ul>
            </div>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->


    </main>

    <!-- JS Global Compulsory -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="../assets/vendor/popper.min.js"></script>
    <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="../assets/vendor/bootstrap/offcanvas.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="../assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="../assets/vendor/fancybox/jquery.fancybox.min.js"></script>



    <!-- JS Unify -->
    <script src="../assets/js/hs.core.js"></script>

    <script src="../assets/js/components/hs.header.js"></script>
    <script src="../assets/js/helpers/hs.hamburgers.js"></script>

    <script src="../assets/js/components/hs.dropdown.js"></script>
    <script src="../assets/js/components/hs.popup.js"></script>
    <script src="../assets/js/components/hs.carousel.js"></script>

    <script src="../assets/js/components/hs.go-to.js"></script>

    <!-- JS Custom -->
    <script src="../assets/js/custom.js"></script>

    <!-- JS Implementing Plugins -->
    <script  src="../../assets/vendor/appear.js"></script>

    <!-- JS Unify -->
    <script  src="../../assets/js/components/hs.onscroll-animation.js"></script>

    <!-- JS Plugins Init. -->
    <script >
    $(document).ready(function () {
      // initialization of scroll animation
      $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
    });
    </script>

    <!-- JS Plugins Init. -->
    <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of carousel
      $.HSCore.components.HSCarousel.init('.js-carousel');

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));

      // initialization of masonry
      $('.masonry-grid').imagesLoaded().then(function () {
        $('.masonry-grid').masonry({
          columnWidth: '.masonry-grid-sizer',
          itemSelector: '.masonry-grid-item',
          percentPosition: true
        });
      });

      // initialization of popups
      $.HSCore.components.HSPopup.init('.js-fancybox');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
    });
    </script>
    </body>

    </html>
