<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Sa.Ra Holding Trust</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../Favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../assets/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/vendor/bootstrap/offcanvas.css">

  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="../assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../assets/vendor/animate.css">
  <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">
  <link rel="stylesheet" href="../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../assets/vendor/fancybox/jquery.fancybox.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../assets/css/unify-core.css">
  <link rel="stylesheet" href="../assets/css/unify-components.css">
  <link rel="stylesheet" href="../assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="../assets/css/custom.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="../assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
  <link  rel="stylesheet" href="../assets/vendor/animate.css">

  <!-- CSS Template -->
  <link rel="stylesheet" href="../assets/css/styles.op-consulting.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/settings.css">
  <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/layers.css">
  <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution/css/navigation.css">
  <link rel="stylesheet" href="../assets/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css">

</head>

<body>
  <main>
    <!-- Header -->
    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance u-header--change-logo u-header--toggle-section"
            data-header-fix-moment="300">

            <!-- Top Bar -->
            <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-py-10">
              <div class="container">
                <div class="row flex-column flex-md-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white">
                  <div class="col-auto g-pos-rel g-px-15">
                    <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">
                      <li class="list-inline-item g-mx-4 g-mt-10">
                        <i class="fa fa-globe g-font-size-14 g-mr-3"></i>
                        <a href="#!" id="languages-dropdown-invoker-2" class="g-color-white g-text-underline--none--hover" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2"
                        data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut"><%=__('language')%>
                    </a>
                        <ul id="languages-dropdown-2" class="list-unstyled g-pos-abs g-left-0 g-bg-black g-width-160 g-pb-5 g-mt-14" aria-labelledby="languages-dropdown-invoker-2">
                          <li>
                            <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="/about/EN">English</a>
                          </li>
                          <li>
                            <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="/about/IT">Italiano</a>
                          </li>
                          <li>
                            <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="#!">Russian</a>
                          </li>
                          <li>
                            <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="#!">German</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Top Bar -->

            <div class="u-header__section g-bg-black-opacity-0_7 g-transition-0_3 g-py-7 g-py-3--md"
                 data-header-fix-moment-exclude="g-bg-black-opacity-0_7 g-py-3--md"
                 data-header-fix-moment-exclude="g-bg-black-opacity-0_7 g-py-3--md">
           <nav class="navbar navbar-expand-lg g-py-0">
             <div class="container g-pos-rel">
               <!-- Logo -->
               <a href="/<%=__('language')%>" class="navbar-brand u-header__logo"
                  data-type="static">
                 <img class="u-header__logo-img u-header__logo-img--main g-width-90" src="../assets/img/logo/logo.jpg" style="width:80px;height:50px;" alt="Image description">
                 <img class="u-header__logo-img g-width-90" style="width:80px;height:50px;" src="../assets/img/logo/logo.jpg" alt="Image description">
               </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row " id="navBar" data-mobile-scroll-hide="true">
              <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-15 g-pt-20 g-pt-0--lg ml-auto">
                <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                  <a href="/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover">Home </a>
                </li>
                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                  <b href="#!" class="nav-link p-0 g-color-blue">About</b>
                </li>
                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                  <a href="/Services/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover">Services</a>
                </li>
                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                  <a href="/contact/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover">Contact us</a>
                </li>
              </ul>
            </div>
            <!-- End Navigation -->

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar">
              <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->



    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after" style="height: 140%; background-image: url(../assets/img/aboutu.jpg);"></div>
      <!-- End Parallax Image -->

      <!-- Promo Block Content -->
      <div class="container g-color-black text-center g-py-145">
        <h3 class="h1 g-font-weight-600 text-uppercase mb-2" style="color:white"> About us </h3>
      </div>
      <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->

    <!--haeder-->
    <section class="container u-ns-bg-v1-bottom g-bg-white g-py-100">
      <div class="text-center">
        <h2 class="h5 g-line-height-1_8">SaRa holding trust company was born out of the intuition of the two entrepreneurs, <span class="g-brd-bottom g-brd-blue g-color-blue g-font-weight-600 pb-1">Matteo Taglia </span> and <span class="g-brd-bottom g-brd-blue g-color-blue g-font-weight-600 pb-1">Juraj Kaleta </span>, who together gave life to this business reality with the help of experts in the field.
          </h2>
      </div>
    </section>
    <!--end haeder-->

    <!-- Icon Blocks -->
    <section class="g-bg-gray-light-v5 g-pt-25 g-pb-70">
      <div class="container">
        <!-- info 1 -->
        <div class="row">
          <div class="col-md-6 align-self-center g-py-20">
            <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20" data-animation="fadeInLeft" data-animation-delay="20" data-animation-duration="1000">OUR LEIT MOTIV</h2>
            <p class="lead mb-0 g-line-height-2" data-animation="fadeInLeft" data-animation-delay="20" data-animation-duration="1000">Ethics is our leitmotiv that is declined in all its forms and whose evidence can be found in the commitment that we deepen in favor of customers, in the solid relationship we create and in the highest level of professionalism offered. Our constant growth is based on on these values and the market has rewarded our reliability.</p>
          </div>

          <div class="col-md-6 align-self-center g-py-20">
            <img class="w-100" src="../../assets/img-temp/400x270/img28.jpg" alt="Iamge Description" data-animation="fadeInRight" data-animation-delay="20" data-animation-duration="1000">
          </div>
        </div>
        <!--end info 1 -->

        <!-- info 2 -->
        <div class="row">
          <div class="col-md-6 align-self-center g-py-70">
            <img class="w-100" src="../../assets/img-temp/400x270/img28.jpg" alt="Iamge Description" data-animation="fadeInLeft" data-animation-delay="20" data-animation-duration="1000">
          </div>

          <div class="col-md-6 align-self-center g-py-40">
            <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20" data-animation="fadeInRight" data-animation-delay="20" data-animation-duration="1000">IMPORTANCE OF RELATIONSHIPS</h2>
            <p class="lead mb-0 g-line-height-2" data-animation="fadeInRight" data-animation-delay="20" data-animation-duration="1000">Thanks to our branched networks of relationships in more continents, we have managed to create a business by eliminating all the inefficiencies and focusing our attention on the buying and selling of raw materials characterized by constant stability and growth: GOLD and DIAMONDS.</p>
          </div>
        </div>
        <!-- end info 2 -->
      </div>
      </section>


      <div class="u-heading-v2-2--bottom g-brd-blue g-mb-30 text-center g-py-50">
        <h2 class="text-uppercase u-heading-v2__title g-font-weight-700 mb-0">OUR APPEAL IN THE MARKET</h2>
      </div>

      <section id="ourProjects" class="g-py-5">
          <!-- service Block -->
      <div class="container">
        <!-- Icon Blocks -->
<div class="row">
  <div class="col-md-6">
    <!-- Icon Blocks -->
    <article class="media g-mb-20">
      <div class="d-flex align-self-center mr-4">
        <span class="u-icon-v2 u-icon-size--2xl g-brd-4 g-color-blue g-brd-blue--hover g-rounded-50x">
          <i class="icon-education-143 u-line-icon-pro"></i>
        </span>
      </div>
      <div class="media-body align-self-center">
        <h3 class="h4 g-color-black">FEEDBACK</h3>
        <p class="g-color-gray-dark-v4 mb-0">Our company continues to increase its appeal in the market thanks exclusively to feedback from previous investors who have consolidated our credibility on the market. Moreover, a private equity fund, after having carried out in-depth assessments on our business, made a capital increase intervention in our company aimed at the subsequent listing on the stock market.</p>
      </div>
    </article>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-md-6">
    <!-- Icon Blocks -->
    <article class="media g-mb-20">
      <div class="d-flex align-center mr-4 g-py-40">
        <span class="u-icon-v2 u-icon-size--2xl g-brd-4 g-color-blue g-brd-blue--hover g-rounded-50x">
          <i class="icon-finance-257 u-line-icon-pro"></i>
        </span>
      </div>
      <div class="media-body align-self-center">
        <h3 class="h4 g-color-black">ADVANTAGES OF ROUGH DIAMOND</h3>
        <p class="g-color-gray-dark-v4 mb-0"> <br>In particular, with reference to diamonds, the increase in value starting from the rough diamond to the cut diamond can reach x20 and each transaction is guaranteed through the issuance of ad hoc financial instruments.</p>
      </div>
    </article>
    <!-- End Icon Blocks -->
  </div>
</div>
<!-- End Icon Blocks -->
</div>
</section>

<section id="about-section" class="g-pt-100 g-pb-100">
      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg">
          <div class="col-md-6 col-lg-8">
            <img class="img-fluid rounded" src="../../../assets/img-temp/900x600/img1.jpg" alt="Image Description">
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
              <div class="g-mb-20">
                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">Sale of GOLD
              <br>
              and DIAMONDS
            </h2>
                <p class="g-font-size-16">As regards the sale of GOLD and DIAMONDS, our main suppliers are in Sierra Leone and Ghana, with another important collaboration, in progress, with mines located in South Africa and for the time being we are preparing the issuance of the so called Bond Auriferi for investments in mines in Africa that require adequate infrastructure. This investment will allow us, in the next future, to further reduce extraction costs and increase our profitability.</p>
              </div>

              <a class="btn u-btn-blue g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="/Services/<%=__('language')%>">
            Our Services
            <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>

      <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex justify-content-between align-items-lg-center flex-wrap g-mt-minus-50--lg">
          <div class="col-md-6 flex-md-unordered">
            <div class="g-brd-around--md g-brd-10 g-brd-white rounded">
              <img class="img-fluid w-100 rounded" src="../../../assets/img-temp/600x450/img1.jpg" alt="Image Description">
            </div>
          </div>

          <div class="col-md-6 col-lg-4 ml-auto flex-md-first">
            <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
              <div class="g-mb-20">
                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">Our headquarter
            </h2>
                <p class="g-font-size-16">Our headquarter is the beating heart of the business, located in Barcelona, an immense center of international trade; this choice was also influenced by the fact that in Barcelona there is a free zone, a place where we trade.</p>
              </div>

              <a class="btn u-btn-blue g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="/contact/<%=__('language')%>">
            Contact us
            <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
            </div>
          </div>
        </div>
        <!-- End Image, Text Block -->
      </div>
    </section>

    <!-- team Blocks -->
    <section class="g-bg-gray-light-v5 g-pt-25 g-pb-70">
      <div class="container">
        <div class="text-center text-uppercase u-heading-v6-2 g-mb-20">
<h2 class="h3 u-heading-v6__title">OUR TEAM</h2>
</div>
        <div id="accordion-08" class="u-accordion u-accordion-color-blue" role="tablist" aria-multiselectable="true">
  <!-- Card -->
  <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
    <div id="accordion-08-heading-01" class="u-accordion__header g-pa-0" role="tab">
      <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
        <a class="d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-01" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="true" aria-controls="accordion-08-body-01">
          <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-blue text-center g-pa-20">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
          </span>
          <span class="g-pa-20">
            Matteo Taglia
          </span>
        </a>
      </h5>
    </div>

    <div id="accordion-08-body-01" class="collapse show" role="tabpanel" aria-labelledby="accordion-08-heading-01" data-parent="#accordion-08">
      <div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
        CEO
      </div>
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
    <div id="accordion-08-heading-02" class="u-accordion__header g-pa-0" role="tab">
      <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-02" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-02">
          <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-blue text-center g-pa-20">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
          </span>
          <span class="g-pa-20">
            Juraj Kaleta
          </span>
        </a>
      </h5>
    </div>
    <div id="accordion-08-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-02" data-parent="#accordion-08">
      <div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
        CFO
      </div>
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card g-rounded-50 g-overflow-hidden g-brd-none mb-2">
    <div id="accordion-08-heading-03" class="u-accordion__header g-pa-0" role="tab">
      <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
        <a class="collapsed d-flex g-color-main g-text-underline--none--hover" href="#accordion-08-body-03" data-toggle="collapse" data-parent="#accordion-08" aria-expanded="false" aria-controls="accordion-08-body-03">
          <span class="u-accordion__control-icon g-brd-right g-brd-gray-light-v4 g-color-blue text-center g-pa-20">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
          </span>
          <span class="g-pa-20">
            Pietro Mantuano
          </span>
        </a>
      </h5>
    </div>
    <div id="accordion-08-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-08-heading-03" data-parent="#accordion-08">
      <div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
        GCO and President of BoD<br>
        The Lawyer. Pietro Mantuano is a member of the Board of Directors of Gibor Investment Fund INC - an investment fund with a share capital of USD 198 million - and has been indicated by this investment fund as our partner in charge of overseeing aspects of internal supervision. Furthermore, Avv. Mantuano constantly checks the sureties issued by the Fund and confirmed by international banks for each investment.<br>
        The partnership with the GIF - as can be verified on <a href="https://www.isin.org/"> ISIN.org </a> - has already led to a placement of several million euros for ISIN US60689K7019 - CUSIP: 60698K701.

      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
      </div>
    </section>


    <!-- Footer -->
      <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white g-py-30">
        <div class="container">
          <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-6 col-md-24 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white">About Us</h2>
              </div>

              <p class="g-color-white-opacity-0_5">Ethics is our leitmotiv that is declined in all its forms and whose evidence can be found in the commitment that we deepen in favor of customers, in the solid relationship we create and in the highest level of professionalism offered.</p>
            </div>
            <!-- End Footer Content -->


            <!-- Footer Content -->
            <div class="col-lg-2 col-md-20 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white">Useful Links</h2>
              </div>

              <nav class="text-uppercase1">
                <ul class="list-unstyled g-mt-minus-10 mb-0">
                  <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-20">
                    <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 " href="/about/<%=__('language')%>">About Us</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/about/<%=__('language')%>"></i>
                </h4>
                  </li>
                  <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/Services/<%=__('language')%>">Our Services</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/Services/<%=__('language')%>"></i>
                </h4>
                  </li>
                  <li class="g-pos-rel g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/contact/<%=__('language')%>">Contact Us</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/contact/<%=__('language')%>"></i>
                </h4>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6">
              <div class="u-heading-v2-3--bottom g-brd-white g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white">Our Contacts</h2>
              </div>

              <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(assets/img/maps/map2.png);">
            <!-- Location -->
            <div class="d-flex g-mb-20">
              <div class="g-mr-10">
                <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                  <i class="fa fa-map-marker"></i>
                </span>
              </div>
              <p class="mb-0 g-color-white-opacity-0_8">Rambla de Cataluña 105<br> Barcelona, Spagna</p>
            </div>
            <!-- End Location -->

            <!-- Phone -->
           <div class="d-flex g-mb-20">
              <div class="g-mr-10">
                <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <p class="mb-0 g-color-white-opacity-0_8">+34 930 130237 <br> +34 651 850803</p>
            </div>
            <!-- End Phone -->

            <!-- Email and Website -->
            <!--  <div class="d-flex g-mb-20">
              <div class="g-mr-10">
                <span class="u-icon-v3 u-icon-size- -xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                  <i class="fa fa-globe"></i>
                </span>
              </div>
              <p class="mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white- -hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
                <br>
                <a class="g-color-white-opacity-0_8 g-color-white- -hover" href="#!">www.htmlstream.com</a>
              </p>
            </div>  -->
            <!-- End Email and Website -->
          </address>
            </div>
            <!-- End Footer Content -->
          </div>
        </div>
      </div>
      <!-- End Footer -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; All Rights Reserved.</small>
              <ul class="u-list-inline">

              </ul>
            </div>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->


  </main>

  <!-- JS Global Compulsory -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="../assets/vendor/popper.min.js"></script>
  <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>

  <script src="../assets/vendor/bootstrap/offcanvas.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="../assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="../assets/vendor/fancybox/jquery.fancybox.min.js"></script>



  <!-- JS Unify -->
  <script src="../assets/js/hs.core.js"></script>

  <script src="../assets/js/components/hs.header.js"></script>
  <script src="../assets/js/helpers/hs.hamburgers.js"></script>

  <script src="../assets/js/components/hs.dropdown.js"></script>
  <script src="../assets/js/components/hs.popup.js"></script>
  <script src="../assets/js/components/hs.carousel.js"></script>

  <script src="../assets/js/components/hs.go-to.js"></script>

  <!-- JS Custom -->
  <script src="../assets/js/custom.js"></script>

  <!-- JS Implementing Plugins -->
<script  src="../../assets/vendor/appear.js"></script>

<!-- JS Unify -->
<script  src="../../assets/js/components/hs.onscroll-animation.js"></script>

<!-- JS Plugins Init. -->
<script >
  $(document).ready(function () {
    // initialization of scroll animation
    $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
  });
</script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of carousel
      $.HSCore.components.HSCarousel.init('.js-carousel');

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));

      // initialization of masonry
      $('.masonry-grid').imagesLoaded().then(function () {
        $('.masonry-grid').masonry({
          columnWidth: '.masonry-grid-sizer',
          itemSelector: '.masonry-grid-item',
          percentPosition: true
        });
      });

      // initialization of popups
      $.HSCore.components.HSPopup.init('.js-fancybox');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
    });
  </script>
</body>

</html>
