<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Sa.Ra Holding Trust</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8" http-equiv="content-type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="Favicon.ico">

      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600">
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto%3A700%2C300">
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway%3A400%2C800%2C500">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/bootstrap/offcanvas.css">

  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="assets/vendor/animate.css">
  <link rel="stylesheet" href="assets/vendor/hamburgers/hamburgers.min.css">
  <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="assets/vendor/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="assets/vendor/hs-megamenu/src/hs.megamenu.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="assets/css/unify-core.css">
  <link rel="stylesheet" href="assets/css/unify-components.css">
  <link rel="stylesheet" href="assets/css/unify-globals.css">
  <link rel="stylesheet" href="assets/css/unify.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="assets/css/custom.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">

  <!-- CSS Template -->
  <link rel="stylesheet" href="assets/css/styles.op-consulting.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" href="assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="assets/vendor/revolution-slider/revolution/css/settings.css">
  <link rel="stylesheet" href="assets/vendor/revolution-slider/revolution/css/layers.css">
  <link rel="stylesheet" href="assets/vendor/revolution-slider/revolution/css/navigation.css">
  <link rel="stylesheet" href="assets/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css">

</head>

<body>
  <main>
    <!-- Header -->
    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance u-header--change-logo u-header--toggle-section"
            data-header-fix-moment="600">

            <!-- Top Bar -->
            <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-py-10">
              <div class="container">
                <div class="row flex-column flex-md-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white">
                  <div class="col-auto g-pos-rel g-px-15">
                    <ul class="list-inline g-overflow-hidden g-font-size-12 g-mt-minus-10 g-mx-minus-4 mb-0">
                      <li class="list-inline-item g-mx-4 g-mt-10">
                        <i class="fa fa-globe g-font-size-14 g-mr-3"></i>
                        <a href="#!" id="languages-dropdown-invoker-2" class="g-color-white g-text-underline--none--hover" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2"
                        data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut"> <%=__('language')%>
                    </a>
                        <ul id="languages-dropdown-2" class="list-unstyled g-pos-abs g-left-0 g-bg-black g-width-160 g-pb-5 g-mt-14" aria-labelledby="languages-dropdown-invoker-2">
                          <li>
                            <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="/EN">English</a>
                          </li>
                          <li>
                            <a class="d-block g-color-white g-color-blue--hover g-text-underline--none--hover g-py-5 g-px-20" href="/IT">Italiano</a>
                          </li>

                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Top Bar -->

      <div class="u-header__section g-bg-black-opacity-0_8 g-transition-0_3 g-py-7 g-py-3--md"
           data-header-fix-moment-exclude="g-bg-black-opacity-0_8 g-py-3--md"
           data-header-fix-moment-exclude="g-bg-black-opacity-0_8 g-py-3--md">
        <nav class="navbar navbar-expand-lg g-py-0">
          <div class="container g-pos-rel">
            <!-- Logo -->
            <a href="/<%=__('language')%>" class="navbar-brand u-header__logo"
               data-type="static">
              <img class="u-header__logo-img u-header__logo-img--main g-width-90" src="assets/img/logo/logo3.png" style="width:auto;height:80px;" alt="Image description">
              <img class="u-header__logo-img g-width-90" src="assets/img/logo/logo3.png" style="width:auto;height:80px"; alt="Image description">
            </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row " id="navBar" data-mobile-scroll-hide="true">
              <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-15 g-pt-20 g-pt-0--lg ml-auto">
                <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                  <b href="#!" class="nav-link p-0 g-color-blue"> <%=__('menu1')%> <span class="sr-only">(current)</span></b>
                </li>
                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                  <a href="/about/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover"> <%=__('menu2')%> </a>
                </li>
                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                  <a href="/Services/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover"> <%=__('menu3')%> </a>
                </li>
                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                  <a href="/contact/<%=__('language')%>" class="nav-link p-0 g-color-blue--hover"> <%=__('menu4')%> </a>
                </li>
              </ul>
            </div>
            <!-- End Navigation -->

            <!-- Responsive Toggle Button -->
            <button class="g-color-white navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar" color="white">
                          <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                          <span class="g-bg-white hamburger-inner"></span>
                          </span>
                          </span>
                        </button>
            <!-- End Responsive Toggle Button -->
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center g-bg-black-opacity-0_6--after
            divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after" style="height: 120%; background-image: url(../assets/img/grafici1.jpg);"></div>

      <div class="container g-py-200 ">

          <div class="container text-center g-z-index-1">
            <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-font-size-36--md g-color-white g-mb-20">Sara Holding & Trust Inc.</h3>
            <a class="g-font-weight-500 g-font-size-16 g-font-size-36--md g-color-white g-mb-20 "> <%=__('home_title1')%> <br> <%=__('home_title2')%>  <span class="g-color-blue"> <%=__('home_title3')%> </span> <%=__('home_title4')%> <span class="g-color-blue"> <%=__('home_title5')%> </span> <br></a>
            <a>  </a>
            <a class="btn btn-lg u-btn-blue g-font-weight-700 g-font-size-12 text-uppercase g-rounded-50 g-px-40 g-py-15 g-mb-20" href="/contact/<%=__('language')%>"> <%=__('home_buttom')%> </a>
          </div>

      </div>
    </section>
    <!-- End Promo Block -->

    <!-- intro -->
    <div class=" g-max-width-800 mx-auto u-heading-v2-2--bottom g-brd-blue g-mb-10 text-center g-py-50">
      <h2 class="h3 u-heading-v2__title mb-0"> <%=__('home_intro')%> </h2>
    </div>
    <!-- End intro -->


    <!-- About Our Company -->
<div class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options="{
      settings_mode_oneelement_max_offset: '150'
     }">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url(../assets/img/mountainbg.jpg)"></div>

  <section class="g-flex-centered g-height-500 g-color-white u-bg-overlay g-bg-white-opacity-0_2--after g-py-20">
    <div class="container u-bg-overlay__inner">
      <div class="row">
        <div class="row">
          <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
            <header class="u-heading-v2-3--bottom g-brd-blue g-mb-20">
              <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase"> <%=__('home_about')%> </h2>
            </header>

            <p class="g-font-size-16 g-mb-30"> <%=__('home_aboutsub')%> </p>

            <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> <%=__('home_point1')%>
              </li>
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> <%=__('home_point2')%>
              </li>
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> <%=__('home_point3')%>
              </li>
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> <%=__('home_point4')%>
              </li>
            </ul>
          </div>

          <div class="col-lg-6 g-bg-img-hero g-pos-rel" style="background-image: url(assets/img/maps/map4.png);">
            <div class="g-absolute-centered text-center w-100 g-px-40">
              <h2 class="h1 g-color-gray-v2 g-font-weight-600 g-font-size-22 g-font-size-36--md g-mb-20"> <%=__('home_esperienza1')%> <br> <%=__('home_esperienza2')%> </h2>
                  <a href="/about/<%=__('language')%>" class="h1 g-color-gray-v2  g-font-size-18 g-color-blue--hover"> <%=__('home_read')%> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
    <!-- End About Our Company -->


    <div class=" text-center mx-auto g-mb-10 g-py-50">
      <div class=" mb-3"></div>
      <div class="u-heading-v10 g-mb-40">
  <h2 class="u-heading-v10__downer g-mb-0"> <%=__('home_forza')%> </h2>
  <h3 class="u-heading-v10__upper g-mb-0 g-color-blue"> <%=__('home_forza')%> </h3>
</div>
      <h2 class="h4 g-max-width-800 text-center  mx-auto"> <%=__('home_forzainfo')%> </h2>
    </div>

    <section class="g-py-10">
      <div class="container">
        <!-- Info Blocks -->
        <div class="row">
          <div class="col-md-3 g-mb-30">
            <span class="u-icon-v3 g-color-blue g-bg-blue-opacity-0_1 rounded-circle g-mb-25">
          <i class="icon-finance-012 u-line-icon-pro"></i>
        </span>

            <div class="d-inline-block g-width-70 g-height-2 g-bg-blue g-pos-rel g-top-5 g-right-minus-25 g-mr-minus-20"></div>

            <h2 class="h5 g-color-black g-font-weight-600 mb-3"> <%=__('home_business')%> </h2>
            <p> <%=__('home_businessinfo')%> </p>
          </div>

          <div class="col-md-6 g-mb-30">
            <img class="img-fluid" src="assets/img/prezzo-oro2.jpg" style="width: auto; height: 400px" alt="Image Description">
          </div>

          <div class="col-md-3 mt-auto g-mb-30">
            <div class="d-inline-block g-width-70 g-height-2 g-bg-blue g-pos-rel g-top-5 g-left-minus-25 g-mr-minus-20"></div>

            <span class="u-icon-v3 g-color-blue g-bg-blue-opacity-0_1 rounded-circle g-mb-25">
          <i class="icon-finance-049 u-line-icon-pro"></i>
        </span>
            <h2 class="h5 g-color-black g-font-weight-600 mb-3"> <%=__('home_services')%> </h2>
            <p> <%=__('home_servicesinfo')%> </p>
          </div>
        </div>
      </div>
    </section>


<!-- Footer -->
  <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white g-py-30">
    <div class="container">
      <div class="row">
        <!-- Footer Content -->
        <div class="col-lg-4 col-md-24 g-mb-40 g-mb-0--lg">
          <div class="u-heading-v2-3--bottom g-brd-white g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white"> <%=__('foot_about')%> </h2>
          </div>

          <p class="g-color-white-opacity-0_5"> <%=__('foot_aboutinfo')%> </p>
        </div>
        <!-- End Footer Content -->


        <!-- Footer Content -->
        <div class="col-lg-2 col-md-20 g-mb-40 g-mb-0--lg">
          <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white"> <%=__('foot_link')%> </h2>
          </div>

          <nav class="text-uppercase1">
            <ul class="list-unstyled g-mt-minus-10 mb-0">
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-20">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 " href="/about/<%=__('language')%>"> <%=__('foot_link1')%> </a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/about/<%=__('language')%>"></i>
            </h4>
              </li>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/Services/<%=__('language')%>"> <%=__('foot_link2')%> </a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/Services/<%=__('language')%>"></i>
            </h4>
              </li>
              <li class="g-pos-rel g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/contact/<%=__('language')%>"> <%=__('foot_link3')%> </a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0" href="/contact/<%=__('language')%>"></i>
            </h4>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Footer Content -->



        <!-- Footer Content -->
        <div class="col-lg-6 col-md-6">
          <div class="u-heading-v2-3--bottom g-brd-white g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0 g-color-white"> <%=__('foot_contact')%> </h2>
          </div>
          <div class="container">
            <div class="row">

              <div class="col-lg-6 col-md-6">
                <!-- Email -->
                <div class="d-flex g-mb-20">
                  <div class="g-mr-10">
                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                      <i class="icon-finance-170 u-line-icon-pro"></i>
                    </span>
                  </div>
                  <p class="mb-0 g-color-white-opacity-0_8"> info@saraholdingtrust.com </p>
                </div>
                <!-- End email -->

                <!-- Phone -->
                <div class="d-flex g-mb-20">
                  <div class="g-mr-10">
                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                      <i class="fa fa-phone"></i>
                    </span>
                  </div>
                  <p class="mb-0 g-color-white-opacity-0_8"> <%=__('foot_number1')%> <br> <%=__('foot_number2')%> </p>
                </div>
                <!-- End Phone -->
              </div>

              <div class="col-lg-6 col-md-6">

                <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(assets/img/maps/map2.png);">
                  <!-- Location -->
                  <div class="d-flex g-mb-20">
                    <div class="g-mr-10">
                      <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                        <i class="fa fa-map-marker"></i>
                      </span>
                    </div>
                    <p class="mb-0 g-color-white-opacity-0_8"> <%=__('foot_street1')%> <br> <%=__('foot_street2')%> <br> post code: 08008</p>
                  </div>
                  <!-- End Location -->

                  <!-- Tax number -->
                  <div class="d-flex g-mb-20 ">
                    <div class="g-mr-10">
                      <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                        <i class="icon-finance-193 u-line-icon-pro"></i>
                      </span>
                    </div>
                    <p class="mb-0 g-color-white-opacity-0_8"> Tax Number: <br> 18000050025 </p>
                  </div>
                  <!-- End Tax number -->

                <!-- Email and Website -->
                <!--  <div class="d-flex g-mb-20">
                  <div class="g-mr-10">
                    <span class="u-icon-v3 u-icon-size- -xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                      <i class="fa fa-globe"></i>
                    </span>
                  </div>
                  <p class="mb-0">
                    <a class="g-color-white-opacity-0_8 g-color-white- -hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
                    <br>
                    <a class="g-color-white-opacity-0_8 g-color-white- -hover" href="#!">www.htmlstream.com</a>
                  </p>
                </div>  -->
                <!-- End Email and Website -->
                </address>
              </div>
            </div>
          </div>
          </div>
          <!-- End Footer Content -->
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; All Rights Reserved.</small>
              <ul class="u-list-inline">

              </ul>
            </div>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->


  </main>

  <!-- JS Global Compulsory -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="assets/vendor/popper.min.js"></script>
  <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="assets/vendor/jquery.easing/js/jquery.easing.min.js"></script>

  <script src="assets/vendor/bootstrap/offcanvas.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="assets/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>

  <!-- JS Unify -->
  <script src="assets/js/hs.core.js"></script>

  <script src="assets/js/components/hs.header.js"></script>
  <script src="assets/js/helpers/hs.hamburgers.js"></script>

  <script src="assets/js/components/hs.dropdown.js"></script>
  <script src="assets/js/components/hs.popup.js"></script>
  <script src="assets/js/components/hs.carousel.js"></script>

  <script src="assets/js/components/hs.go-to.js"></script>
  <script src="assets/js/components/hs.scroll-nav.js"></script>

  <!-- JS Revolution Slider -->
  <script src="assets/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>


  <!-- JS Custom -->
  <script src="assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of carousel
      $.HSCore.components.HSCarousel.init('.js-carousel');

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));

      // initialization of masonry
      $('.masonry-grid').imagesLoaded().then(function () {
        $('.masonry-grid').masonry({
          columnWidth: '.masonry-grid-sizer',
          itemSelector: '.masonry-grid-item',
          percentPosition: true
        });
      });

      // initialization of popups
      $.HSCore.components.HSPopup.init('.js-fancybox');
    });

    $(document).on('ready', function () {
      // initialization of parallax
      $('.dzsparallaxer').dzsparallaxer();
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
    });
    var tpj = jQuery;

    var revapi490;
    tpj(document).ready(function () {
      if (tpj('#rev_slider_490_1').revolution == undefined) {
        revslider_showDoubleJqueryError('#rev_slider_490_1');
      } else {
        revapi490 = tpj('#rev_slider_490_1').show().revolution({
          sliderType: 'hero',
          jsFileLocation: 'revolution/js/',
          sliderLayout: 'fullwidth',
          dottedOverlay: 'none',
          delay: 9000,
          navigation: {},
          responsiveLevels: [1240, 1024, 778, 480],
          visibilityLevels: [1240, 1024, 778, 480],
          gridwidth: [1240, 1024, 778, 480],
          gridheight: [600, 500, 400, 300],
          lazyType: 'none',
          parallax: {
            type: 'mouse',
            origo: 'slidercenter',
            speed: 2000,
            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
          },
          shadow: 0,
          spinner: 'off',
          autoHeight: 'off',
          disableProgressBar: 'on',
          hideThumbsOnMobile: 'off',
          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          debugMode: false,
          fallbacks: {
            simplifyAll: 'off',
            disableFocusListener: false
          }
        });
      }
    });

  </script>

</body>

</html>
